<div id="<%= dom_id article %>" class="scaffold_record">
  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p>
    Posted <%= time_tag article.created_at %>
  </p>

  <p>
    <strong><%= pluralize article.comments.count, "comment" %></strong>
  </p>

  <p>
    <strong>Content:</strong>
    <%= article.content %>
  </p>

  <p>
    <%= link_to "Show this article", article %>
  </p>
</div>
